*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    font-size: 35px;
}
.pai{
    border-radius: 5px;
    position: absolute;
    display: grid;
    height: 700px;
    width: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 4;
}
.top{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding-right: 30px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.center:hover{
    background-color: rgb(172, 169, 165);

}
i{
    background-color: rgb(174, 180, 180);
    align-items: center;
    justify-content: center;
    text-align: right;
    grid-column-start: 4;
    grid-row-start: 3;
    height: auto;
    width: auto;
}
i:hover{
    background-color: rgb(133, 133, 133);
}
.right{
    background-color: orange;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operators{ 
    display: flex;
    background-color: rgb(174, 180, 180);
    align-items: center;
    justify-content: center;
}
.operators:hover{
    background-color: rgb(133, 133, 133);

}